@font-face	{
	font-family: fontawesome;
	src: url(../fonts/fontawesome-webfont.woff);
}

/*       Fonts

font-family: 'Lora', serif;

font-family: 'Open Sans', sans-serif;*/

.navbar-nav>li>a {
	color: #130A01;
}

body, .jumbotron p {
	font-family: 'Open Sans', sans-serif;
}

.jumbotron {
	font-family: 'Lora', serif;
	color: #050227;
	text-align: center;
	height: 590px;
	background-image: url(../img/headerv2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

#masthead {
	margin-top: 150px;
	padding: 0;
	border-radius: 2px;
	background: rgba(255,255,255, 0.5);
	width: 400px;
	border-radius: 5px;


}

h2 {
	font-family: 'Lora', serif;
}

.rule {
	border-color: rgba(51,51,51,0.41);
	width: 120px;
}

.portfolio h2, h3 {
	text-align: center;
}

.portfolio-icon {
	text-align: center;
	color: #333;
}

.work h2 {
	text-align: center;
}

.about {

}

.about h2 {
	text-align: center;
}

footer {
	background-color: #9AAAAE;
	padding: 40px 0;
}

footer p {
	margin-bottom: 0;
	font-size: 0.80em;
}

.form-group {
	margin-bottom: 5px;
}

#contact {
	height: 330px;
	border-right: 1px solid;
}

#social {
	height: 330px;
	border-right: 1px solid;
}

.icons {
	padding: 0;
	margin-top: 15px;
	margin-left: 15px;
	/*text-align: center;*/
}

.icons li {
	list-style: none;
	/*display: inline;*/
	padding-right: 15px;
}

.icon {
	font-family: fontawesome;
	/*font-size: 2.5em;*/
	margin-right: 10px;
	
}

.icons a {
	color: #333;
}

.icons a:hover {
	color: white;
	text-decoration: none;
}

.socialtext {
	font-size: 0.8em;
}

/*.fa-icon-mobile-phone:before{
	content:"\f10b";
}*/

.fa-github:before {
	
	content: "\f09b";
	

}

.fa-twitter:before {
	
	content: "\f099";
	

}

.fa-facebook:before {
	
	content: "\f09a";
	
}

.fa-email:before {
	
	content: "\f003";
	
}

#rights {
	text-align: center;
	font-size: 0.70em;
	padding-top: 20px;
}